<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2021/1/1の会議室</title>
</head>
<body>
<h3>会議室</h3>
<a th:href="@{'/rooms/list/' + ${date.minusDays(1)}}">&lt; 前日</a>
<span th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2021/1/1の会議室</span>
<a th:href="@{'/rooms/list/' + ${date.plusDays(1)}}">翌日 &gt;</a>

<ul>
    <li th:each="room: ${rooms}">
        <a th:href="@{'/reservations/' + ${date} + '/' + ${room.meetingRoom.roomId}}"
           th:text="${room.meetingRoom.roomName}"></a>
    </li>
</ul>
<a sec:authorize-url="/rooms/meeting/list" th:href="@{'/rooms/meeting/list'}">会議室の管理</a>
<form method="post" th:action="@{/logout}">
    <button>ログアウト</button>
</form>
</body>
</html>