<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会議室管理</title>
</head>
<body>
<div>
    <a th:href="@{'/rooms/list/'}">会議室一覧へ</a>
</div>
<ul>
    <li th:each="room: ${rooms}">
        <a th:href="@{'/rooms/reservable/' + ${room.roomId} + '/register'}">
            <span th:text="${room.roomName}"></span>
        </a>
    </li>
</ul>
<a th:href="@{'/rooms/meeting/register'}">会議室を追加</a>
<form method="post" th:action="@{/logout}">
    <button>ログアウト</button>
</form>
</body>
</html>