<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会議室の登録</title>
</head>
<body th:with="user=${#authentication.principal.user}">

<div>
    <a th:href="@{'/rooms/list/' + ${date}}">会議室一覧へ</a>
</div>


<p style="color: red" th:if="${error != null}" th:text="${error}"></p>

<form method="post" th:action="@{'/rooms/meeting/register'}" th:object="${meetingRoomForm}">
    会議室: <input th:field="*{roomName}" type="text"/>
    <span style="color:red" th:errors="*{roomName}" th:if="${#fields.hasErrors('roomName')}">error!</span>
    <br/>
    <button>追加</button>
</form>

</body>
</html>